html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0E0F1A;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout{
  width: 100%;
  height: 100%;
}

.logo{
  height: 200px;
  width: 200px;
}

.header{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.coin_app{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
